* {
	color: white;
}

.background {
	background-color: #252525;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23fb26d6' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.navbar.navbar-4 .navbar-toggler-icon {
	background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=BFE100');
}

#nav {
	padding-bottom: 16px;
	padding-top: 16px;
}

.jumbotron {
	/*display: block;*/
	/*margin: auto;*/
	background-image: linear-gradient(black, #B9005B);
	color: #B9005B;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
	border-radius: 0;
}

#bigWords {
	font-family: 'Parisienne', cursive;
}

.playablesPics {
	margin-bottom: 20px;
}

.aboutBackground {
	background-image: linear-gradient(#B9005B, black);
	margin-top: 40px;
}

.aboutUs {
	text-align: center;
	margin-top: 15px;
	padding-left: 4px;
	padding-right: 4px;
}

#members {
	font-family: 'Parisienne', cursive;
}

.portfolio {
	margin-top: 40px;
}

.card {
	width: 5rem;
	margin: auto;
}

.card-body {
	background-color: #424242;
}

.card-img-top {
	background-color: #B9005B;
}

.inner {
	padding: 0;
}

.number2 {
	padding: 25px 25px 0 25px;
}

.number1 {
	padding: 0 25px 25px 25px;
}

.individual {
	margin-top: 25px;
	margin-bottom: 25px;
}

.contactUs {
	background-image: linear-gradient(#B9005B, black);
	padding-bottom: 5px;
}

#contact {
	font-family: 'Parisienne', cursive;
}