.jumbotron {
	display: block;
	margin: auto;
	background-image: linear-gradient(black, #B9005B);
	color: #B9005B;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
}

.navbar.navbar-4 .navbar-toggler-icon {
	background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=BFE100');
}

.about-us {
	background-color: #B9005B;
	margin-top: 40px;
}
.background {

	background-color: #252525;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23fb26d6' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


.about-us {
	float: left;
}

.portfolio {
	margin-top: 40px;
}